<li [ngClass]="{
    'list-group-item' : true,
    'list-group-item-success' : [loveIts] > 0,
    'list-group-item-danger' : [loveIts] < 0
}">
  <div class="d-flex mb-3">
    <h4 class="mr-auto p-2" [ngStyle]="{color: getColor()}">{{title}}</h4>
    <span class="font-italic p-2" [ngStyle]="{color: getColor()}">{{createdAt | date: 'MM/dd/yyyy, hh:mm a'}}</span>
  </div>
  <p [ngStyle]="{color: getColor()}">{{content}}</p>
  <button type="button" class="btn btn-success btn-sm btn-space" (click)="addLoveIts()">Love It !</button>
  <button type="button" class="btn btn-danger btn-sm btn-space" (click)="removeLoveIts()">Don't Love It !</button>

</li>
